[Desktop Entry]
Name=Gmoiss
Comment=Quantum Chemistry program
Comment[pl]=Program do chemii kwantowej
Icon=
Exec=gmoiss
Terminal=0
Type=Application
# vi: encoding=utf-8
