[Desktop Entry]
Encoding=UTF-8
Name=Gmoiss
Comment=Quantum Chemistry program
Comment[pl]=Program do chemii kwantowej
Icon=gmoiss.png
Exec=gmoiss
Terminal=false
Type=Application
Categories=GTK;Education;Science;Chemistry;
# vi: encoding=utf-8
